# Idea & editor config directories
.idea
.vscode
.DS_Store

# Python cache files
__pycache__
*.pyc


# Possible Python virtual environments
.venv
env
venv

# Security stuffs
secrets.env

# Django stuffs
media/*
